html {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
  position: relative;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.play-wrapper {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.play-button {
  height: 20%;
}

.round-border {
  border-radius: 20px;
}

.circle-border {
  border-radius: 50%;
}

.actor img {
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.genres-item {
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .actor img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    float: left;
  }

  .actor {
    margin: 16px;
  }
}
