html {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
  position: relative;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.play-wrapper {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.play-button {
  height: 20%;
}

.round-border {
  border-radius: 20px;
}
